registry = "https://registry.npmmirror.com"
PUPPETEER_DOWNLOAD_HOST = "https://npmmirror.com/mirrors/"
SASS_BINARY_SITE = "https://npmmirror.com/mirrors/node-sass/"
SHARP_DIST_BASE_URL = "https://npmmirror.com/mirrors/sharp-libvips/"
ELECTRON_MIRROR = "https://npmmirror.com/mirrors/electron/"
PHANTOMJS_CDNURL = "https://npmmirror.com/mirrors/phantomjs/"
SENTRYCLI_CDNURL = "https://npmmirror.com/mirrors/sentry-cli/"
SQLITE3_BINARY_SITE = "https://npmmirror.com/mirrors/sqlite3/"
PYTHON_MIRROR = "https://npmmirror.com/mirrors/python/"
